body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, rgba(247, 23, 217, 0.699), #12c4be);
    text-align: center;
    padding: 20px;
}

h1 {
    color: #000000;
    margin-bottom: 40px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta {
    background: rgba(231, 146, 220, 0.438);
    border-radius: 15px;
    box-shadow: 0 15px 10px rgba(1, 26, 247, 0.952);
    width: 250px;
    padding: 15px;
    transition: transform 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img {
    width: 100%;
    border-radius: 200px;
}

.tarjeta h2 {
    color: crimson;
    margin: 10px 0 5px 0;
}

.tarjeta p {
    color: black ;
    font-size: 16px;
    font-weight: bold;
}

#Palomo {
    border: 3px solid #0f7a05cc;
}

#Loca {
    border: 3px solid #0cbfc2;
}


#Milo {
    border: 3px solid #b14750;
}
